/*Main CSS doc*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.text{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.body{
    padding-top: 27px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 500px;
    height: auto;
    min-height: 140px;
}

.header{
    height: 100px;
}

.headerSides{
    width: 245px;
}

.roundCornerBox{
    margin: auto;
    margin-top: 24px;
    height: 42px;
    width: calc(100% - 100px);
    max-width: 400px;
    border-radius: 21px;
}

#searchBox{
    background-image: url("media/DDG-iOS-icon_152x152.png");
    background-repeat: no-repeat;
    background-position: 0%, 50%;
    background-size:40px;
}

#ddgSearch{
    all: unset;
    margin-left: 40px;
    height: 40px;
    width: calc(100% - 60px);
    max-width: 340px;
    background-color: none;
}

#time{
    text-align: center;
    line-height: 42px;
}

.content{
    height: auto;
    width: 100%;
    margin-top: -23px;
}

.row{
    overflow: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#lastRow{
    margin-bottom: 0px;
}

.btn{
    margin: 5px;
    height: 100px;
    min-width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;    
}

/*makes footer size dynamically as not to break
the background-image gradient*/
.footer{
    height: calc(100vh - 1336px)
}
