@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.body{
    display: flex;
    justify-content: center;
    background-color: #292d33;
}

.wrapper{
    width: 1200px;
    height: auto;
    min-height: 120px;
    background-color: #292833;
}

.header{

}

.clock{

}

.main{

}

.buttons{

}

.btn{
    padding-left: 10px;
}

.footer{

}